*, ::before, ::after {
  box-sizing: border-box; 
  padding: 0; 
  margin: 0;
}

html::-webkit-scrollbar {
  width: 20px;
}

html::-webkit-scrollbar-thumb {
  border-radius: 100px;
  border: 5px solid transparent;
  background-clip: content-box;
  background-color: #FFCE1F;
}

body {
  font-family: 'Nunito', 'Biryani', sans-serif;
  background-color: #FFF;
  font-style: normal;
  font-weight: 400;
  position: relative;
  overflow-x: hidden;
}

.wrapper {
  min-height: 88vh;
  max-width: 1596px;
  margin: auto;
}

/* Header */

header {
  top: 0;
  left: 0;
  position: sticky;
  z-index: 10;
  width: 100%;  
  min-height: 82px;  
  background-color: #FFFFFF;
  box-shadow: 0px 1px 5px rgba(51, 40, 0, 0.15);
}

.hide {
  display: block;
}

.contact-mob {
  display: none;
}

.burger {
  display:none;
}

nav {
  display: block;
  height: 100%;
}

.main-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 82px;
  margin-bottom: 0.1rem;
}

.nav-item {
  color: #332800;
  font-size: 14px;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  list-style: none;
  margin: 0 1rem;
  border-radius: 1px;
  padding: 10px 30px;
}

.active {
  border-bottom: #FFCE1F solid 3px;
  padding-bottom: 10px;
  padding-inline: 5px;
}

#contact-button {
  background-color: #FFCE1F;
  border-radius: 5px;
  padding: 10px 30px;
}

a.nav-linked {
  color: #332800;
  text-decoration: none;
}

/* Introduction */

section.intro {
  display: flex;
  align-items: center;
  justify-content: center;
}

.introduction {
  display: flex;
  flex-direction: column;
}

.introduction .intro-p {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 46px;
  color: #332800;
}

.introduction h1 {
  color: #FFCE1F;
  font-family: 'Biryani';
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 124px;
}

.introduction h2 {
  font-family: 'Biryani';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 71px;
  color: #332800;
}

.introduction p {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 155%;
  color: #5F5C4E;
  width: 626px;
}

.intro-img img{
  width: 640px;
}

/* Skills */

.skill-card-inside-sm {
  display: none;
}

section.skills {
  padding-left: 100px;
  padding-top: 8rem;
}

.group-card {
  display: flex;
}

section.skills h1,
section.formations h1 {
  font-family: 'Biryani';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 49px;
  color: #332800;
}

.line {
  border-bottom: #FFCE1F solid 4px;
  width: 203px;
}

.skill-card-first,
.skill-card-second,
.skill-card-third {
  margin-top: 4rem;
  width: 465px;
  height: 730px;
  background: #FFFFFF;
  border: 2px solid #D1D0D0;
}

.skill-card-first {
  border-radius: 5px 0px 0px 5px;
}

.skill-card-second {
  border-radius: 0px;
}

.skill-card-third {
  border-radius: 0px 5px 5px 0px;
}

.active-card {
  background-color: #FFCE1F;
  border: 2px solid #FFCE1F;
}

.skill-card-inside {
  padding-left: 4rem;
}

.skills .skill-card-first h1,
.skills .skill-card-second h1,
.skills .skill-card-third h1 {
  font-family: 'Biryani';
  font-style: normal;
  font-weight: 900;
  font-size: 64px;
  line-height: 113px;
  color: #332800;
  padding-top: 50px;
}

.skills .skill-card-first h2,
.skills .skill-card-second h2,
.skills .skill-card-third h2 {
  font-family: 'Biryani';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 42px;
  color: #332800;
  padding-bottom: 2rem;
}

.skills .skill-card-first li,
.skills .skill-card-second li,
.skills .skill-card-third li {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  color: #332800;
  list-style: square;
  list-style-position: inside;
  padding-bottom: 20px;
}

/* Expérience professionnelle */

section.experience {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8rem;
}

section.experience h1 {
  font-family: 'Biryani';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 49px;
  color: #332800;
}

.title-experience {
  padding-bottom: 5rem;
}

.title-experience .line {
  margin: auto;
}

.xp-group {
  display: flex;
}


.xp-group-mobile {
  display: none;
}

.left {
  width: 100%;
  border-right: 2px solid #332800 ;
}

.left .xp-first,
.left .xp-third {
  text-align: right;
  padding-right: 50px;
}

.left .xp-third {
  margin-top: 22rem;
}

.right .xp-second {
  text-align: left;
  padding-left: 50px;
  margin-top: 18rem;
}

.left .xp-first h2,
.right .xp-second h2,
.left .xp-third h2 {
  font-family: 'Biryani';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 42px;
  color: #FFCE1F;
}

.left .xp-first h3,
.right .xp-second h3,
.left .xp-third h3 {
  font-family: 'Biryani';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #5F5C4E;
}

.left .xp-first p,
.right .xp-second p,
.left .xp-third p {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #5F5C4E;
  padding-bottom: 15px;
}

.bold {
  font-weight: 700;
}

.left .xp-first a,
.right .xp-second a {
  text-decoration: none;
  color: #5F5C4E;
  font-weight: 700;
}

.left .xp-first a:hover,
.right .xp-second a:hover{
  color: #FFCE1F;
}

.right .xp-first,
.left .xp-second {
  display: flex;
}

.right .xp-first .dashed,
.left .xp-second .dashed,
.right .xp-third .dashed {
  border-bottom: 2px dashed #332800;
  width: 320px;
  transform: translateY(100px);
}

.left .xp-second .dashed {
  width: 186px;
  transform: translateY(135px);
}

.right .xp-third .dashed {
  width: 255px;
  transform: translateY(155px);
}

.right .xp-first h1,
.left .xp-second h1,
.right .xp-third h1 {
  font-family: 'Biryani';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 39px;
  text-align: center;
  color: #332800;
  background: #FFCE1F;
  border-radius: 5px;
  padding: 20px 30px;
  transform: translateY(140px);
  margin-right: 15rem;
}

.left .xp-second h1 {  
  transform: translate(239px, 175px);
}

.right .xp-third h1 { 
  width: 300px;
  transform: translate(255px, 117px);
}




/* Diplômes et formations */

section.formation {
  padding-top: 8rem;
}

section.formation .formation-title,
section.formation .line {
  margin-left: 100px;
}

.formation h1 {
  font-family: 'Biryani';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 49px;
  color: #332800;
}

.formation-group {
  display: flex;
  padding-top: 4rem;
}

.formation-group .formation-card-first h1,
.formation-group .formation-card-second h1,
.formation-group .formation-card-third h1 {
  font-family: 'Biryani';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 39px;
  color: #332800;
}

.formation-group .formation-card-first h2,
.formation-group .formation-card-second h2,
.formation-group .formation-card-third h2 {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #5F5C4E;
}

.formation-group .formation-card-first p,
.formation-group .formation-card-second p,
.formation-group .formation-card-third p {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #5F5C4E;
}

.formation-card-first,
.formation-card-second,
.formation-card-third {
  width: 431px;
  background: #FFFFFF;
  border: 0.5px solid #D1D0D0;
  box-shadow: 2px 4px 4px rgba(51, 40, 0, 0.15);
  border-radius: 10px;
  padding: 50px 0 50px 30px;
}

.formation-dashed {
  border-bottom: 2px dashed #332800;
  width: 150px;
  transform: translateY(-120px);
}

/* Projects */

section.projects {
  padding-top: 8rem;
  padding-top: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1.projects-title {
  font-family: 'Biryani';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 49px;
  text-align: center;
  color: #332800;
}

.line-sm {
  border-bottom: #FFCE1F solid 4px;
  width: 135px;
}

.projects-group {
padding-top: 5rem;
}

.my-projects {
  display: flex;
  flex-direction: row;
  margin-bottom: 80px;
  padding-left: 5rem;
}

.my-projects-img-security,
.my-projects-img-ocoeur,
.my-projects-text-security,
.my-projects-text-ocoeur {
  width: 650px;
  height: 450px;
  border-radius: 15px;
  box-shadow: 2px 4px 4px rgba(51, 40, 0, 0.15);
}

.my-projects-img-security,
.my-projects-text-security,
.my-projects-text-ocoeur {
  margin-right: 80px;
}

.my-projects-text-security,
.my-projects-text-ocoeur {
  background: #FFFFFF;
  border: 0.5px solid #D1D0D0;
}

.my-projects-text-ocoeur .text-ltr {
  direction: ltr;
}

.scroller-right,
.scroller-left {
  overflow-y: auto;
  scrollbar-width: thin;
}

.scroller-left {
  direction: rtl;
  text-align: left;
}

.scroller-right::-webkit-scrollbar,
.scroller-left::-webkit-scrollbar {
  width: 20px;
}

.scroller-right::-webkit-scrollbar-thumb,
.scroller-left::-webkit-scrollbar-thumb {
  border-radius: 100px;
  border: 5px solid transparent;
  background-clip: content-box;
  background-color: #FFCE1F;
}

.my-projects-img-security {
  background-color: #EEF0FE;
}

.my-projects-img-ocoeur {
  background-color: #FAF6EF;
}

.security-response {
  width: 85%;
  padding-left: 105px;
}

.my-projects-img-security h3,
.my-projects-img-ocoeur h3  {
  font-family: 'Biryani';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  width: 15%;
  border-bottom: #FFCE1F solid 2px;
  transform: translate(500px, -56px);
}

.my-projects-img-ocoeur h3  {
  transform: translate(505px, -25px);
}

.my-projects-img-security a,
.my-projects-img-ocoeur a {
  text-decoration: none;
  color: #332800;
}
.my-projects-img-security a:hover,
.my-projects-img-ocoeur a:hover {
  color: #FFCE1F;
}


.ocoeur {
  width: 47%;
  transform: translate(165px, 18px);
}

.my-projects-text-security h1,
.my-projects-text-ocoeur h1 {
  font-family: 'Biryani';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 39px;
  text-align: center;
  color: #332800;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.my-projects-text-security ul,
.my-projects-text-ocoeur ul {
  padding-bottom: 2rem;
}

.my-projects-text-security li,
.my-projects-text-ocoeur li  {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #5F5C4E;
  list-style-type: none;
  padding-inline: 2rem;
  padding-block: 0.5rem;
}

.my-projects-text-security li a{
  color: #332800;
  text-decoration: none;
}

.my-projects-text-security li a:hover{
  color: #FFCE1F;
}

/* À propos */

section.presentation {
  padding-top: 8rem;
}

.presentation .presentation-title {
  font-family: 'Biryani';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 49px;
  color: #332800;
}

.presentation .presentation-title,
.presentation .line-xs {
  margin-left: 100px;
}

.line-xs {
  border-bottom: #FFCE1F solid 4px;
  width: 86px;
}

.presentation-group {
  display: flex;
  padding-top: 6rem;
  margin-left: 100px;
}

.presentation-descr {
  display: flex;
  flex-direction: column;
  width: 1100px;
  padding-left: 5rem;
}

.presentation-descr h2 {
  font-family: 'Biryani';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 42px;
  color: #332800;
  padding-top: 2rem;
}

.presentation-descr p {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 155%;
  color: #5F5C4E;
  padding-top: 2rem;
}

.hobbies-group {
  display: flex;
  align-items: center;
  padding-top: 2rem;
}

.hobbies-title {
  font-family: 'Biryani';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  color: #332800;
  padding-left: 1rem;
  padding-right: 3rem;
}

.profil {
  padding-top: 2rem;
}

.presentation-descr .profil {
  display: flex;
  align-items: center;
  font-family: 'Biryani';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: #332800;
}

.profil::before{
  content: "<";
  font-family: 'Biryani';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 71px;
  color: #332800;
}

.profil::after{
  content: ">";
  font-family: 'Biryani';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 71px;
  color: #332800;
}

.profil-word {
  font-family: 'Biryani';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  color: #332800;
}

.slash {
  font-family: 'Biryani';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 71px;
  color: #FFCE1F;
}

/* Contact */

section.contact {
  padding-top: 8rem;
}

.contact .contact-title {
  font-family: 'Biryani';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 49px;
  color: #332800;
}

.contact .contact-title,
.contact .line-md {
  margin-left: 100px;
}

.line-md {
  border-bottom: #FFCE1F solid 4px;
  width: 160px;
}

.contact-group {
  display: flex;
  padding-top: 6rem;
}

.contact-group .contact-infos {
  display: flex;
  flex-direction: column;
  background: #FFCE1F;
  border-radius: 15px;
  width: 450px;
  height: 590px;
  padding-top: 3rem;
}

.contact-group .contact-infos .contact-infos-item {
  display: flex;
  align-items: center;
  padding-left: 2rem;
  padding-bottom: 2rem;
}

.contact-value {
  padding-left: 1rem;
}

.contact-infos a {
  text-decoration: none;
  color: #332800;
}

.contact-value:hover {
  font-weight: 700;
  transform: scale(1.02);
}

.contact-form {
  display: flex;
  flex-direction: column;
  padding-left: 8rem;
}

form {
  position: relative;
}

.contact-form .contact-group {
  display: flex;
  flex-direction: row;
}

.contact-form label {
  font-family: 'Biryani';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #5F5C4E;
}

.contact-form .contact-item-name label {
  position: absolute;
  top: 5.3rem;
  left: 1.5rem;
  cursor: text;
  background-color: #FFFFFF;
  padding-inline: 5px;
}

.contact-form .contact-item-company label {
  position: absolute;
  top: 5.3rem;
  left: 31.2rem;
  cursor: text;
  background-color: #FFFFFF;
  padding-inline: 5px;
}

.contact-form .contact-item-mess label {
  position: absolute;
  top: 12.5rem;
  left: 1.5rem;
  cursor: text;
  background-color: #FFFFFF;
  padding-inline: 5px;
}

.contact-form input,
.contact-form textarea {
  border: 2px solid #332800;
  border-radius: 10px;
}

.contact-item-name {
  padding-right: 2rem;
}

.contact-item-name input,
.contact-item-company input {
  width: 444px;
  height: 68px;
}

.contact-item-mess {
  padding-top: 3rem;
}

.contact-item-mess textarea {
  width: 920px;
  height: 160px;
}

input[type="text"] {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: #332800;
  padding-left: 1.5rem;
}

textarea[type="text"] {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: #332800;
  padding-left: 1.5rem;
  padding-top: 1.5rem;
}

.contact-button {
  padding-top: 2rem;
  float: right;
}


.contact-button button {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.1em;
  color: #332800;
  width: 134px;
  height: 39px;
  background: #FFCE1F;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
}




/* Footer */

footer {
  padding-top: 8rem;
  margin-bottom: 145px;
}

.foot {
  height: 458px;
}

.foot img {
  position: relative;
  width: 100%;
}

.foot h1 {
  position: absolute;
  font-family: 'Biryani';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 88px;
  color: #332800;
  transform: translate(100px, -320px);
}

.foot h2 {
  position: absolute;
  font-family: 'Biryani';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 53px;
  color: #332800;
  transform: translate(100px, -220px);
}

.list-grouped {
  display: flex;
  transform: translate(1430px, -440px);  
}

.list-grouped li a {
  text-decoration: none;
  color: #332800;
}

.list-grouped li a:hover {
  font-weight: 700;
  transform: scale(1.02);
}

.list-grouped .list-first,
.list-grouped .list-second {
  display: flex;
  flex-direction: column;
  padding-right: 5rem;
}

.list-grouped h3 {
  font-family: 'Biryani';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 35px;
  text-align: right;
  color: #332800;
}

.list-grouped li {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: right;
  color: #332800;
  list-style: none;
  padding-top: 25px;
}

.foot-bot {
  position: absolute;
  border-top: 2px solid #332800;
  margin-inline: 100px;
  padding-block: 30px;
  width: -webkit-fill-available;
}

.foot-bot p {
  font-family: 'Biryani';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  color: #332800;
}

/* Error 404 */

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 12rem;
}

.line-error {
  border-bottom: #FFCE1F solid 4px;
  width: 375px;
}

.error p {
  font-family: 'Biryani';
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  line-height: 42px;
  color: #332800;
  padding-bottom: 1rem;
}

.error a {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.1em;
  color: #332800;
  background: #FFCE1F;
  border-radius: 5px;
  text-decoration: none;
  padding: 10px 30px;
  margin-top: 3rem;
  text-transform: uppercase;
}

/* Media query */

@media screen and (min-width: 1930px) {

  footer {
    margin-bottom: 350px;
  }

  .foot {
    margin-bottom: 60px;
  }

  .foot-bot {
    transform: translateY(126px);
  }

  .foot h1 {
    transform: translate(100px, -470px);
  }

  .foot h2 {
    transform: translate(100px, -355px);
  }
  
  .list-grouped {
    transform: translate(2080px, -580px);
  }
}

@media screen and (max-width: 1600px) {

  .formation-group {
    margin-left: 2rem;
  }

  .formation-card-first, .formation-card-second, .formation-card-third {
    width: 410px;
  }

  .contact-group .contact-infos {
    margin-left: 2rem;
  }

  .foot {
    height: 370px;
  }

  .list-grouped {
    transform: translate(1125px, -400px);
  }

}

@media screen and (max-width: 1440px) {
  .group-card {
    transform: translateX(-50px);
  }

  .formation-card-first,
  .formation-card-second,
  .formation-card-third {
    width: 370px;
  }

  .formation-group {
    padding-left: 11px;
  }

  .contact-group .contact-infos {
    margin-left: 10px;
  }

  .contact-form {
    padding-left: 0;
    margin: auto;
  }

  footer {
    margin-bottom: 60px;
  }

  .foot {
    height: 410px;
  }

  .foot h1 {
    transform: translate(100px, -300px);
  }

  .foot h2 {
    transform: translate(100px, -205px);
  }

  .foot-bot {
    transform: translate(0px, -85px);
  }

  .list-grouped {
    transform: translate(965px, -355px);
  }
}

@media screen and (max-width: 1280px) {

  .nav-item {
    padding: 10px 25px;
  }

  .intro-img img {
    width: 440px;
  }

  .xp-group {
    margin-left: 6rem;
  }

  .formation-group {
    padding-left: 0;
    margin-left: 1rem;
  }

  .formation-dashed {
    width: 65px;
    transform: translateY(-157px);
  }

  .my-projects-img-security, .my-projects-img-ocoeur, .my-projects-text-security, .my-projects-text-ocoeur {
    width: 565px;
  }

  .my-projects-img-security h3, .my-projects-img-ocoeur h3 {
    width: 18%;
    transform: translate(235px, -12px);
  }

  .my-projects-img-ocoeur h3 {
    transform: translate(248px, 22px);
  }

  .my-projects-img-security, .my-projects-text-security, .my-projects-text-ocoeur {
    margin-right: 50px;
  }

  .my-projects {
    padding-left: 3rem;
  }

  .presentation-descr .profil {
    font-size: 17px;
  }

  .contact-group .contact-infos {
    margin-left: 2.5rem;
  }

  .contact-item-name input, .contact-item-company input {
    width: 420px;
  }

  .contact-form .contact-group {
    display: flex;
    flex-direction: column;
  }

  .contact-item-company {
    padding-top: 3rem;
  }

  .contact-item-mess textarea {
    width: 700px;
  }

  .contact-form .contact-item-company label {
    top: 12.5rem;
    left: 1.3rem;
  }

  .contact-form .contact-item-mess label {
    top: 19.8rem;
  }

  .foot {
    height: 363px;
  }

  .foot h1 {
    transform: translate(100px, -275px);
  }

  .foot h2 {
    transform: translate(100px, -185px);
  }

  .list-grouped {
    transform: translate(812px, -318px);
  }

}

@media screen and (max-width: 1024px) {

  footer {
    margin-bottom: 50px;
  }

  .nav-item {
    padding: 0;
  }

  .introduction {
    padding-top: 20px;
  }

  .introduction .intro-p {
    font-size: 25px;
  }

  .introduction h1 {
    width: 545px;
    height: 85px;
    font-size: 45px;
    line-height: 0;
    padding-top: 45px;
  }

  .introduction h2 {
    font-size: 35px;
  }

  .introduction p {
    font-size: 18px;
  }

  .intro-img img {
    width: 365px;
  }

  .skill-card-first, .skill-card-second, .skill-card-third {
    height: 985px;
  }

  .left .xp-first,
  .left .xp-third {
    padding-right: 25px;
  }

  .right .xp-second {
    padding-left: 25px;
  }

  .left .xp-second h1 {
    transform: translate(239px, 193px);
  }

  .right .xp-third h1 {
    transform: translate(200px, 117px);
  }

  .left .xp-first {
    width: 630px;
    padding-right: 7px;
  }

  .xp-group {
    margin-left: 90px;
  }

  .left .xp-first p, .right .xp-second p, .left .xp-third p {
    font-size: 13px;
  }

  .formation-group {
    width: 1000px;
    margin-left: 2px;
  }

  .formation-dashed {
    transform: translateY(-170px);
  }

  .my-projects {
    display: flex;
    flex-direction: column;
  }

  .my-projects-img-security {
    margin-bottom: 1rem;
  }

  .my-projects-text-ocoeur {
    order: 1;
  }

  .my-projects-img-ocoeur {
    margin-bottom: 1rem;
  }

  .hobbies-grouped {
    margin-top: 7rem;
    margin-left: -325px;
  }

  .presentation-descr p {
    width: 500px;
  }

  .presentation-descr .profil {
    width: 880px;
    position: absolute;
    transform: translate(-325px, 260px);
  }

  .contact-form .contact-group {
    display: flex;
    flex-direction: column;
  }
 
  .contact-item-name {
    margin-bottom: 3rem;
  }

  .contact-form .contact-item-company label {
    top: 12.6rem;
    left: 1.2rem;
  }

  .contact-form .contact-item-mess label {
    top: 19.8rem;
    left: 1.2rem;
  }

  .contact-item-mess textarea {
    width: 481px;
  }

  .foot {
    height: 292px;
  }

  .foot h1 {
    transform: translate(100px, -230px);
    font-size: 35px;
  }

  .foot h2 {
    transform: translate(100px, -160px);
    font-size: 20px;
  }

  .foot-bot {
    transform: translate(0px, -85px);
  }

  .list-grouped {
    transform: translate(601px, -255px);
  }

  .list-grouped h3 {
    font-size: 16px;
  }

  .list-grouped li {
    padding-top: 8px;
  }
}

@media screen and (max-width: 768px) {

  .introduction {
    padding-top: 40px;
  }

  footer {
    margin-bottom: 40px;
  }

  .main-nav {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: space-evenly;
    height: 70vh;
    padding-top: 1rem;
    background: #FFCE1F;
    transition: all .8s ease;
    transform: translateX(-100%);
  }

  .main-nav.show-nav {
    transition: all .8s ease;
    transform: translateX(0);
  }

  .hide {
    display: none;
  }

  .skill-card-inside-sm{
    display: none;
  }

  .skill-card-first,
  .skill-card-second,
  .skill-card-third {
    border-radius: 5px;
  }

  .contact-mob {
    display: block;
    background: #FFCE1F;
    border-radius: 5px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.1em;
    color: #332800;
    padding: 10px 30px;
    text-transform: uppercase;
  }

  .nav-mob {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 82px;
    padding-inline: 2rem;
  }

  .main-nav li {
    padding-bottom: 1rem;
  }

  .burger {
    display:block;
    position:relative;
    padding:0;
    width:45px;
    height:45px;
    border:none;
    background:transparent;
    cursor:pointer;
  }
  
  .bar {
    display:block;    
    width:45px;
    height:4px;  
    border-radius:3px;
    background: #FFCE1F; 
    transition: all .5s ease-in-out;   
  }

  .bar::before, .bar::after {
    content:"";
    width:45px;
    height:4px;
    position:absolute; 
    left:0;  
    background: #FFCE1F; 
    border-radius: 3px;    
    transition: all .5s ease-in-out;
  }

  .bar::before {
    transform:translateY(-12px)
  }

  .bar::after {
    transform:translateY(12px)
  }

  .show-nav .bar {
    width:0;
    background:transparent;    
  }

  .show-nav .bar::before {
    transform:rotate(45deg);
  }

  .show-nav .bar::after {
    transform:rotate(-45deg);
  }

  .group-card {
    display: flex;
    flex-direction: column;
    margin-inline: 153px;
  }

  .skill-card-first, .skill-card-second, .skill-card-third {
    height: auto;
    padding-bottom: 2rem;
  }

  .formation-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
  }

  .formation-card-first,
  .formation-card-second,
  .formation-card-third {
    width: 380px;
    height: 330px;
  }

  .formation-dashed {
    border-right: 2px dashed #332800;
    width: auto;
    height: 100px;
    transform: translate(-12px, 0);
    border-bottom: 0;
  }

  section.projects {
    padding-top: 6rem;
  }

  section.skills {
    padding-left: 50px;
    padding-top: 6rem;
  }

  section.formation .formation-title, section.formation .line {
    margin-left: 50px;
  }

  section.presentation {
    padding-top: 6rem;
  }

  .presentation .presentation-title,
  .presentation .line-xs {
    margin-left: 50px;
  }

  .presentation-group {
    display: flex;
    padding-top: 6rem;
    margin-left: 50px;
  }

  .presentation-descr {
    padding-left: 3rem;
  }

  .presentation-descr p {
    width: 400px;
  }

  .presentation-descr .profil {
    width: 750px;
    transform: translate(-317px, 329px);
    font-size: 15px;
  }

  .hobbies-title h2 {
    padding-left: 50px;
  }

  .hobbies-group {
    padding-left: 22px;
    width: 779px;
  }

  .hobbies-title {
    font-size: 13px;
  }

  form {
    padding-left: 10px;
  }

  .contact-group .contact-infos {
    margin-left: 1rem;
  }

  .contact .contact-title, 
  .contact .line-md {
    margin-left: 50px;
  }

  .contact-item-name input,
  .contact-item-company input,
  .contact-item-mess textarea {
    width: 368px;
  }

  .contact-form .contact-item-name label,
  .contact-form .contact-item-company label,
  .contact-form .contact-item-mess label {
    left: 1.8rem;
  }

  .contact-form .contact-item-company label {
    top: 15.6rem;
  }

  .contact-form .contact-item-mess label {
    top: 22.9rem;
  }

  .contact-button {
    padding-right: 2rem;
  }

  .foot {
    height: 215px;
  }

  .foot h1 {
    transform: translate(50px, -184px);
    font-size: 26px;
  }

  .foot h2 {
    transform: translate(50px, -121px);
    font-size: 18px;
  }

  .foot-bot {
    transform: translate(0px, -60px);
    margin-inline: 50px;
    padding-block: 17px;
  }

  .foot-bot p {
    font-size: 12px;
  }

  .list-grouped {
    transform: translate(475px, -195px);
  }

  .list-grouped h3 {
    font-size: 14px;
  }

  .list-grouped li {
    font-size: 12px;
    padding-top: 1px;
  }

  .list-grouped .list-first, .list-grouped .list-second {
    padding-right: 2rem;
  }

  .hide {
    display: none;
  }

  .title-experience {
    padding-bottom: 2rem;
  }

  .xp-group-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .xp-item {
    min-width: -webkit-fill-available;
  }

  .xp-mob-title h1 {
    font-family: 'Biryani';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 39px;
    text-align: center;
    color: #332800;
    background: #FFCE1F;
    border-radius: 5px;
    padding: 20px 30px;
    margin: 4rem 0 2rem 0;
    max-width: 400px;
  }

  .xp-item h2 {
  font-family: 'Biryani';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 42px;
  color: #FFCE1F;
  }

  .xp-item h3 {
  font-family: 'Biryani';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #5F5C4E;
  }

.xp-item p {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #5F5C4E;
  padding-bottom: 15px;
  }

  .xp-item a {
  text-decoration: none;
  color: #5F5C4E;
  font-weight: 700;
  }

  .xp-item a:hover {
  color: #FFCE1F;
  }

}

@media screen and (max-width: 425px) {
  
  .introduction {
    margin-left: 200px;
  }

  .introduction .intro-p {
    font-size: 20px;
  }

  .introduction h1 {
    font-size: 30px;
    padding-top: 30px;
    height: 55px;
  }

  .introduction h2 {
    font-size: 26px;
  }

  .introduction p {
    width: 340px;
  }

  .group-card {
    margin-left: 27px;
  }

  section.skills {
    padding-left: 30px;
  }

  .xp-item {
    max-width: fit-content;
  }

  .skill-card-first,
  .skill-card-second,
  .skill-card-third {
    width: 411px;
  }
  .skill-card-second .skill-card-inside {
    display: none;
  }

  .skill-card-inside-sm {
    display: block;
    padding-left: 4rem;
  }

  section.formation .formation-title,
  section.formation .line {
  margin-left: 30px;
  }

  .formation-group {
    margin-left: 0;
    padding-left: 0;
  }

  .main-nav {
    height: 50vh;
  }

  .my-projects {
    padding-left: 0;
  }

  .security-response {
    padding-left: 80px;
  }

  .ocoeur {
    width: 47%;
    transform: translate(107px, 9px);
  }

  
  .my-projects-img-security, .my-projects-img-ocoeur, 
  .my-projects-text-security, .my-projects-text-ocoeur {
    width: 390px;
    height: 300px;
    margin-left: 78px;
  }
  
  .my-projects-img-security h3 {
    width: 26%;
    transform: translate(140px, -15px);
  }
  
  .my-projects-img-ocoeur h3 {
    transform: translate(140px, 0px);
    width: 26%;
  }
  
  section.presentation {
    padding-top: 4rem;
  }

  .presentation-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
  }

  .presentation-descr {
    padding-left: 0rem;
    margin: 0;
    width: 355px;
  }

  .presentation-descr h2 {
    font-size: 22px;
  }

  .presentation-descr p {
    width: 355px;
    font-size: 18px;
  }

  .presentation-descr .profil {
    display: none;
  }

  .presentation .presentation-title,
  .presentation .line-xs {
    margin-left: 30px;
  }

  .hobbies-grouped {
    margin-top: 3rem;
    margin-left: 0;
  }
  
  .hobbies-title {
    padding-left: 0;
  }

  .hobbies-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    padding-left: 0;
    width: auto;
  }

  .contact .contact-title,
  .contact .line-md {
    margin-left: 30px;
  }
  .hobbies-title h3 {
    margin-left: 50px;
  }

  .contact-group {
    display: flex;
    flex-direction: column;
  }

  .contact-group .contact-infos,
  .contact-form {
    margin-inline: 10px;
    width: auto;
  }

  .foot {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .foot h1,
  .foot h2,
  .list-grouped {
    position: initial;
    transform: translate(0, 0);
    text-align: center;
  }

  .foot h1,
  .foot h2 {
    height: 55px;
  }

  .foot h2 {
    padding-bottom: 4rem;
  }

  .list-grouped {
    border-top: 2px solid #332800;
    margin-inline: 50px;
    padding: 2rem 0 2rem 2rem;
    width: -webkit-fill-available;
    margin-inline: 50px;
  }

  .foot-bot {
    position: initial;
    transform: translate(0px, -0);
    margin-inline: 50px;
    padding-block: 17px;
  }

  .foot-bot p {
    text-align: center;
  }

  footer {
    background-color: #FFCE1F;
    border-radius: 5px;
    padding-top: 1rem;
    margin-top: 5rem;
    margin-bottom: 2rem;
  }

  .foot img {
    display: none;
  }

}

@media screen and (max-width: 375px) {

  section.skills h1,
  section.formations h1,
  section.experience h1,
  .formation h1,
  h1.projects-title,
  .presentation .presentation-title,
  .contact .contact-title {
    font-size: 25px;
  }

  .skill-card-first,
  .skill-card-second,
  .skill-card-third {
    width: 360px;
  }

  .skills .skill-card-first li,
  .skills .skill-card-second li,
  .skills .skill-card-third li {
    font-size: 20px;
  }

  .formation-card-first,
  .formation-card-second,
  .formation-card-third {
    width: 360px;
  }

  .my-projects-img-security,
  .my-projects-img-ocoeur,
  .my-projects-text-security,
  .my-projects-text-ocoeur {
    width: 360px;
  }

  .my-projects-img-security h3 {
    width: 27%;
    transform: translate(130px, 5px);
  }

  .my-projects-img-ocoeur h3 {
    transform: translate(140px, 10px);
    width: 27%;
  }

  .presentation-descr h2 {
    font-size: 20px;
  }

  .presentation-descr p {
    width: 355px;
    font-size: 16px;
  }

  .contact-group .contact-infos, .contact-form {
    margin-inline: 8px;
  }

  .contact-item-name input,
  .contact-item-company input,
  .contact-item-mess textarea {
    width: 340px;
  }

  .list-grouped h3 {
    font-size: 12px;
  }
}

@media screen and (max-width: 320px) {

  .nav-mob {
    padding-inline: 1rem;
  }

  .introduction {
    margin-left: 260px;
  }

  .introduction h1 {
    font-size: 25px;
  }

  .introduction h2 {
    font-size: 22px;
  }

  .introduction p {
    width: 300px;
  }

  section.skills h1,
  section.formations h1,
  section.experience h1,
  .formation h1,
  h1.projects-title,
  .presentation .presentation-title,
  .contact .contact-title {
    font-size: 20px;
  }

  .skill-card-first,
  .skill-card-second,
  .skill-card-third {
    width: 306px;
  }

  section.experience,
  section.formation,
  section.contact {
    padding-top: 6rem;
  }

  .formation-card-first, .formation-card-second, .formation-card-third {
    width: 305px;
  }

  .formation-dashed {
    transform: translate(0px, 0);
  }

  .my-projects-img-security, .my-projects-img-ocoeur, .my-projects-text-security, .my-projects-text-ocoeur {
    width: 300px;
    margin-left: 48px;
  }

  .security-response {
    padding-left: 20px;
    width: 100%;
  }

  .my-projects-img-security h3 {
    width: 33%;
    transform: translate(101px, -35px);
  }

  .ocoeur {
    width: 54%;
    transform: translate(77px, 9px);
  }

  .my-projects-img-ocoeur h3 {
    transform: translate(101px, 18px);
    width: 33%;
  }

  section.presentation {
    padding-top: 1rem;
  }

  .presentation-descr h2 {
    font-size: 19px;
  }

  .presentation-descr {
    padding-left: 0rem;
    margin: 0;
    width: 300px;
  }

  .presentation-descr p {
    width: 290px;
    font-size: 16px;
  }

  .contact-item-name input,
  .contact-item-company input,
  .contact-item-mess textarea {
    width: 290px;
  }

  .contact-item-company {
    padding-top: 0;
  }

  .contact-form .contact-item-company label {
    top: 12.6rem;
  }

  .contact-form .contact-item-mess label {
    top: 19.9rem;
  }

  .contact-button {
    padding-right: 0;
    text-align: center;
    float: none;
  }

  .list-grouped h3 {
    width: 112px;
  }

  .list-grouped .list-first,
  .list-grouped .list-second {
    padding-right: 0;
  }

  .list-grouped {
    padding: 2rem 0 2rem 0rem;
  }

  .foot-bot p {
    font-size: 10px;
  }

}